.SubMenu.active {
  transform: translate(0, 0);
}

.SubMenu {
  transition: 0.8s;
  z-index: 2;
  background-color: rgb(63, 63, 63);
  position: fixed;
  top: 0;
  width: 280px;
  height: 1000px;
  transform: translateX(-100%);
  color: black;
  z-index: 999;
}

.SubMenu_Wrap {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}

.btn_close {
  padding: 0 2rem;
  border: none;
  background-color: rgb(63, 63, 63);
  font-size: 3rem;
  font-weight: 800;
  color: black;
}
.btn_close:hover {
  color: white;
}

.sub_menu01,
.sub_menu02,
.sub_menu03,
.sub_menu04 {
  padding: 1rem;
  cursor: pointer;
}

.sub_menu01 ul li:hover,
.sub_menu02 ul li:hover,
.sub_menu03 ul li:hover,
.sub_menu04 ul li:hover {
  color: white;
}

.sub_menu01 h2,
.sub_menu02 h2,
.sub_menu03 h2,
.sub_menu04 h2 {
  font-size: 1.5rem;
  padding: 0 1rem;
  margin-left: 20px;
}

.sub_menu01 ul {
}

.sub_menu01 ul li {
  display: flex;
  margin-bottom: 20px;
}

.sub_menu01 img,
.sub_menu02 img,
.sub_menu03 img,
.sub_menu04 img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.sub_menu02 ul {
}

.sub_menu01 ul h2 {
  line-height: 1;
}
.sub_menu01 ul h2:hover {
  color: white;
}

.sub_menu01 ul li,
.sub_menu02 ul li,
.sub_menu03 ul li,
.sub_menu04 ul li {
  line-height: 2;
  display: flex;
  color: rgb(161, 161, 161);
}

.sub_menu04 ul li img {
  height: 25px;
}

.sub_menu03 ul li {
  display: flex;
}

.menu_bar {
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  SubMenu.active {
    transform: translate(0, 0);
  }

  .SubMenu {
    transition: 0.8s;
    z-index: 2;
    background-color: rgb(63, 63, 63);
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    color: black;
  }

  .SubMenu_Wrap {
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
  }

  .btn_close {
    padding: 0 2rem;
    border: none;
    background-color: rgb(63, 63, 63);
    font-size: 3rem;
    font-weight: 800;
    color: black;
  }
  .btn_close:hover {
    color: white;
  }

  .sub_menu01,
  .sub_menu02,
  .sub_menu03,
  .sub_menu04 {
    padding: 0rem;
    cursor: pointer;
  }

  .sub_menu01 ul li:hover,
  .sub_menu02 ul li:hover,
  .sub_menu03 ul li:hover,
  .sub_menu04 ul li:hover {
    color: rgb(255, 255, 255);
  }

  .sub_menu01 h2,
  .sub_menu02 h2,
  .sub_menu03 h2,
  .sub_menu04 h2 {
    font-size: 1rem;
    padding: 0 1rem;
    margin-left: 8%;
  }

  .sub_menu01 ul {
  }

  .sub_menu01 ul li {
    display: flex;
    margin-bottom: 20px;
  }

  .sub_menu01 img,
  .sub_menu02 img,
  .sub_menu03 img,
  .sub_menu04 img {
    width: 10%;
    height: 10%;
    filter: invert(100%);
  }

  .sub_menu02 ul {
    margin-top: 30%;
    margin-bottom: 30%;
  }
  .sub_menu03 ul {
    margin-top: 30%;
    margin-bottom: 30%;
  }

  .sub_menu01 ul h2 {
    line-height: 1;
  }
  .sub_menu01 ul h2:hover {
    color: white;
  }

  .sub_menu01 ul li,
  .sub_menu02 ul li,
  .sub_menu03 ul li,
  .sub_menu04 ul li {
    line-height: 2;
    display: flex;
    color: rgb(161, 161, 161);
  }

  .sub_menu04 ul li img {
    height: 15%;
  }

  .sub_menu03 ul li {
    display: flex;
  }

  .menu_bar {
    margin-left: 30%;
  }
}
