.Footer {
  width: 100%;
  height: 500px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.Footer_wrap {
  width: 1560px;
  margin: auto;
}

.footer_heading {
}
.footer_heading ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
.footer_heading ul li {
  padding: 2rem;
}

.footer_content {
  width: 80%;
  margin: 150px auto;
  text-align: center;
  padding: 1rem;
  border: 1px solid #5f5f5f70;
}

.P_first {
}

.P_second {
  color: rgb(156, 156, 156);
}

@media screen and (max-width: 767px) {
  .Footer {
    width: 100%;
    height: 100%;
  }

  .Footer_wrap {
    width: 100%;
    margin: auto;
  }

  .footer_heading {
  }
  .footer_heading ul {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: -3.5%;
    font-size: 12px;
  }
  .footer_heading ul li {
    padding: 2rem;
  }

  .footer_content {
    background-color: #000000af;
    width: 100%;
    margin: 100px auto auto auto;
    text-align: center;
    padding: 2rem;
    color: white;
  }

  .P_first {
    font-size: 15px;
  }

  .P_second {
    color: rgb(156, 156, 156);
    font-size: 10px;
  }
}
